.App {
  text-align: center;
}

/* New stuff*/
a {
  text-decoration: none;
  color: black;
}
.details{
  background-color: white;

}
.room {
  background-color: #D9D9D9;
  font-size: 2vw;
  margin:auto;
  height: 30px;
}

.roomTitle {
  margin:0;
  width: 100%;
}

.searchResults {
  position: absolute;
  left: 0; 
  right: 0; 
  margin: auto;
  width:50%;
  z-index: 1; 
  margin-top: 5vh;
  border:20px solid black;
}

svg {
  margin-top: 0vh;
}

/*CSS för svg kartan på /map/ */
#Lager_2{
  margin-top: 20vh;
}

/*Text för kartan*/
#description{
  text-align: center;
}

#input{
  font-size: 4vw;
  width: calc(100% - 3px);
  height: 30px;
  padding: 0;
}


#resetKnapp {
  color:black;
  background-color: #00B3E1;
  padding:0;
}

#tillbakaKnapp{
  color:black;
  background-color: #00B3E1;
}